.header
    padding-top: 3.6rem
    height:  142.3rem
    background-image: url('../images/header__image_mobile.jpg')
    background-repeat: no-repeat, no-repeat
    background-size: cover
    display: flex
    align-items: center
    flex-direction: column
    position: relative
    color: #FFFFFF
    text-align: center
    &:after 
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: rgba(66, 25, 109, 0.8)
        z-index: 2
    & > section  
        max-width: 32rem
        z-index: 3 

.header__topSection
    display: flex
    align-items: center
    flex-direction: column

.header__bottomSection
    padding-top: 3.7rem
    
.header__logoBlock 
    width: 52px
    margin-bottom: 2.4rem

.header__h6
    font-size: 1.5rem        

.header__hr
    margin: 2.6rem auto
   
.header__blanksArea
    margin: 3.9rem auto

.header__timeAndPlace
    display: flex
    align-items: center
    @media screen and (max-width: $mobile_small)
        margin-left: 10px
.header__timeAndPlace-iconBlock
    width: 10%
.header__timeAndPlace-article
    text-align: left
    margin-left: 4%
    width: 86%

.header__form
    margin: 4rem 0
    padding: 0 20px

.header__form-button
    margin: 
        top: 2.6rem
        bottom: 1rem
    
.header__form-p
    font-size: 1.3rem
    line-height: 1.6rem
    letter-spacing: 0.1rem

.header__offer
    display: flex
    justify-content: space-between
    align-items: center
    @media screen and (max-width: $mobile_small)
        margin-left: 10px
.header__offer-iconBlock
    width: 4.21rem
    width: calc(42.1 * 100 / 320) * 1% 
    width: 20%
.header__offer-article
    width: 75%
.header__offer-text
    font-size: 1.4rem
    text-align: left
    margin: unset            



    

