header
    padding: 
        top: 3.6rem
        // left: 80 * 100 / 480 * 1vw
        // right: 80 * 100 / 480 * 1vw
    height:  1423 * 100 / 480 * 1vw
    min-height: 1423px
    background-image: url('../images/header__image_mobile.jpg')
    background-repeat: no-repeat, no-repeat
    background-size: cover
    display: flex
    align-items: center
    flex-direction: column
    position: relative
    @media screen and (min-width: 480px)
        padding: 
            top: 36 * 100 / 480 * 1vw
    &:after 
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: rgba(66, 25, 109, 0.8)
        z-index: 2

.headerOne__aboutMeasure
    display: flex
    align-items: center
    flex-direction: column
    z-index: 3
    max-width: 320px
.headerOne__logoBlock 
    width: 52px
    margin-bottom: 2.4rem
    @media screen and (min-width: 480px)
        margin-bottom: 24 * 100 / 480 * 1vw
.headerOne__aboutMeasure-text
    display: block
    color: #FFFFFF
    text-align: center
    font-size: 1.5rem
